@page "/pinball"
@rendermode InteractiveServer

<PageTitle>Pinball Locator</PageTitle>

<h1>Pinball Locator</h1>

<h3>Latitude: </h3>
@* <InputText  @bind-Value="location.Latitude"/> *@
<p role="status">Longitude: </p>
@* <InputText  @bind-Value=location.Longitude></InputText> *@
<button class="btn btn-primary" @onclick="Submit">Submit</button>
<button class="btn btn-primary" @onclick="findMe">Show my location</button>

@code {
        /* TODO:
        *  - add inputs
        *  - sort input binding
        *  - add Geolocation
        *  - test
        *  - ???
        *  - profit
        * 
        * */


    Location location = new();
    private void Submit()
    {

    }

    class Location
    {
        public string Latitude { get; set; }
        public string Longitude { get; set; }
    }

    private async Task PostRequest()
    {
        var requestMessage = new HttpRequestMessage()
            {
            Method = new HttpMethod("POST"),
            RequestUri = new Uri($"https://pinballmap.com/api/v1/locations/closest_by_lat_lon.json?lat={location.Latitude}&lon={location.Longitude}&max_distance=50&send_all_within_distance=1")
        
                /*Content =
            JsonContent.Create(new TodoItem
            {
                Name = "My New Todo Item",
                IsComplete = false
            })
                */
            };
    }
    var response = await Http.SendAsync(requestMessage);

    var responseBody = await response.Content.ReadAsStringAsync();

    // Example API call: https://pinballmap.com/api/v1/locations/closest_by_lat_lon.json?lat=39.7213696&lon=-86.147072&max_distance=50&send_all_within_distance=1

    // GeoLocation options:
    // https://developer.mozilla.org/en-US/docs/Web/API/Geolocation_API
    // https://darnton.co.nz/2020/11/29/geolocation-in-blazor/ & https://stackoverflow.com/questions/69428693/blazor-user-device-geolocation
    // 
    
}
