@page "/pinball"
@rendermode InteractiveServer

<PageTitle>Pinball Locator</PageTitle>

<h1>Pinball Locator</h1>

<h3>Latitude: </h3>
@* <InputText  @bind-Value="location.Latitude"/> *@
<p role="status">Longitude: </p>
@* <InputText  @bind-Value=location.Longitude></InputText> *@
<button class="btn btn-primary" @onclick="Submit">Submit</button>
<button class="btn btn-primary" @onclick="findMe">Show my location</button>

@code {
    Location location = new();
    private void Submit()
    {

    }

    class Location
    {
        public string Latitude  { get; set; }
        public string Longitude { get; set; }
    }
}
